fastapi[standard]
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
asyncpg
alembic
python-dotenv
python-multipart
pypdf
httpx
langchain-groq
langchain-text-splitters
langgraph
langchain-community
chromadb
